@font-face {
  font-style: normal;
  font-weight: 300;
  /* light */
  font-family: "Gilroy";
  /*  NB: Postscript-имя шрифта идет между версией и копирайтом  */

  src: local("Gilroy Light"),
    local("Gilroy-Light"),
    url("../fonts/gilroy/gilroylight.woff2") format("woff2"),
    url("../fonts/gilroy/gilroylight.woff") format("woff");
}

@font-face {
  font-style: normal;
  font-weight: 800;
  /* extrabold */
  font-family: "Gilroy";

  src: local("Gilroy ExtraBold"),
    local("Gilroy-ExtraBold"),
    url("../fonts/gilroy/gilroyextrabold.woff2") format("woff2"),
    url("../fonts/gilroy/gilroyextrabold.woff") format("woff");
}

@font-face {
  font-style: normal;
  font-weight: 300;
  /* light */
  font-family: "Open Sans";

  src: local("Open Sans Light"),
    local("OpenSans-Light"),
    url("../fonts/opensans/opensanslight.woff2") format("woff2"),
    url("../fonts/opensans/opensanslight.woff") format("woff");
}

@font-face {
  font-style: normal;
  font-weight: normal;
  /* 400 */
  font-family: "Open Sans";

  src: local("Open Sans"),
    local("OpenSans"),
    url("../fonts/opensans/opensans.woff2") format("woff2"),
    url("../fonts/opensans/opensans.woff") format("woff");
}

/* ========================= */
/*             доп. нормалайзер           */
/* ========================= */
img {
  max-width: 100%;
  height: auto;
}

html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

/* -------------------- */
a {
  color: inherit;
  text-decoration: none;
}

p {
  display: block;
  margin: 0;
}

li {
  margin: 0;
}

h2,
h3,
h4 {
  margin: 0;
}

/* -------------------- */
/* .visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  border: 0;
  clip: rect(0 0 0 0);
} */
.visually-hidden * {
  display: none;
}

.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  white-space: nowrap;
  border: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(100%);
}

/* ========================= */
body {
  min-width: 1200px;
  margin: 0;
  /* margin-top: 20px; */
  font-size: 15px;
  line-height: inherit;
  font-family: "Open Sans", "Verdana", sans-serif;
  color: black;
}

/*         сделать нормально           */
/* {
  flex-grow: 0;
  flex-shrink: 0;
} */

/* .main-page > .container:first-child {
  position: relative;
  padding-top: 481px;
} */
.user-menu,
.shopping-menu,
.navigation-menu,
.logistic-menu,
.contact-menu,
.catalog-submenu,
.goodsgroup-menu,
.goodsgroups-list,
.brends-list,
.shipping-companies-list,
.footer-navigation-menu,
.footer-social,
.catalog-list,
.breadcrumbs,
.paginator-list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.container {
  width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
}

.site-logo:hover,
.footer-copyright:hover,
.user-menu li:hover,
.shopping-menu li:hover,
.nav-menu-item:hover,
.footer-nav-menu-item:hover,
.goodsgroup-menu li:hover {
  opacity: 0.6;
}

.site-logo:focus,
.footer-copyright:focus,
.user-menu li a:focus,
.shopping-menu li a:focus,
.nav-menu-item:focus,
.footer-nav-menu-item:focus,
.goodsgroup-menu li a:focus {
  opacity: 0.6;
}

.site-logo:active,
.footer-copyright:active,
.user-menu li:active,
.shopping-menu li:active,
.nav-menu-item:active,
.footer-nav-menu-item:active,
.goodsgroup-menu li:active {
  opacity: 0.3;
}

/*-------------------*/
/*      кнопка      */
/*-------------------*/
.btn {
  display: inline-block;
  padding-top: 8px;
  padding-bottom: 8px;
  padding-left: 4px;
  padding-right: 0;
  font-weight: 800;
  font-size: 18px;
  line-height: 24px;
  font-family: "Gilroy", "Helvetica", sans-serif;
  vertical-align: middle;
  text-align: center;
  color: black;
  text-transform: uppercase;
  /*  NB: VA / 1000 = X em   */
  letter-spacing: 0.2em;
  background-color: transparent;
  background-image: linear-gradient(transparent 16px, rgb(243, 212, 96) 16px, rgb(243, 212, 96) 17px, rgb(240, 197, 46) 17px, rgb(240, 197, 46) 23px, rgb(243, 212, 96) 23px, rgb(243, 212, 96) 24px, transparent 24px);
  border: none;
  outline: none;
}

.btn:hover {
  background-color: rgb(240, 197, 46);
  background-image: none;
}

.btn:focus {
  background-color: rgb(240, 197, 46);
  background-image: none;
}

.btn:active {
  color: rgba(0, 0, 0, 0.3);
  background-color: rgb(240, 197, 46);
}

/*-------------------*/
/*      шапка      */
/*-------------------*/
.main-search,
.main-search input::placeholder,
.user-menu,
.shopping-menu {
  font-weight: 300;
  font-size: 15px;
  line-height: 30px;
  font-family: "Open Sans", "Verdana", sans-serif;
  letter-spacing: 0.01em;
}

.goodsgroup-menu {
  font-weight: 300;
  font-size: 15px;
  line-height: 36px;
  font-family: "Open Sans", "Verdana", sans-serif;
  letter-spacing: 0.01em;
}

.nav-menu-item,
.footer-nav-menu-item {
  font-weight: 800;
  font-size: 18px;
  line-height: 24px;
  font-family: "Gilroy", "Helvetica", sans-serif;
  text-transform: uppercase;
  letter-spacing: 0.2em;
}

.header-menu {
  position: relative;
  padding-top: 40px;
  padding-right: 60px;
  padding-bottom: 163px;
  padding-left: 60px;
  background-image: linear-gradient(white 40px, rgba(240, 197, 46, 0.5) 40px);
}

.site-header .site-logo {
  position: absolute;
  top: 22px;
  left: 58px;
}
/*
.inner-page .site-header .site-logo {
  left: 58px;
} */

.site-header-wrapper,
.header-navigation {
  display: flex;
  align-items: flex-start;
}

div.site-header-wrapper {
  margin-top: 43px;
  margin-bottom: 27px;
}

.main-search {
  position: relative;
  display: flex;
  align-items: flex-start;
  /* width: 50%; */
  width: 440px;
  /* margin-bottom: 22px; */
}

.main-search input {
  position: relative;
  width: 355px;
  margin: 0;
  padding: 0;
  padding-bottom: 10px;
  padding-left: 38px;
  font: inherit;
  background-color: transparent;
  border: none;
  border-bottom: 2px solid transparent;
  outline: none;
}

.main-search::before {
  content: "";
  position: absolute;
  top: 8px;
  left: 3px;
  width: 16px;
  height: 16px;
  background-color: transparent;
  background-image: url("../img/icon/ico_search.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.main-search input::placeholder {
  color: rgba(0, 0, 0, 0.3);
  /* opacity: 1; */
}

.main-search input:hover::placeholder {
  color: rgba(0, 0, 0, 0.6);
  /* opacity: 1; */
}

.main-search input:focus {
  color: black;
  border-bottom-color: black;
}

.main-search button {
  position: absolute;
  top: -5px;
  right: 0;
  width: 85px;
  padding-top: 13px;
  padding-bottom: 13px;
  background-color: transparent;
  border: 2px solid black;
  /* display: none; */
  opacity: 0;
}

.main-search input:focus + button {
  color: black;
  background-color: transparent;
  /* display: block; */
  opacity: 1;
}

.main-search input:focus + button:hover,
.main-search input:focus + button:focus {
  color: white;
  background-color: black;
}

.main-search button:active {
  color: rgba(255, 255, 255, 0.3);
  background-color: black;
}

.nav-menu-wrapper {
  display: flex;
  justify-content: space-between;
  width: 50%;
  margin-left: auto;
  padding-left: 20px;
}

.shopping-menu li,
.user-menu li {
  margin-right: 38px;
}

.shopping-menu a,
.user-menu a {
  position: relative;
  padding-left: 25px;
}

.shopping-menu li:last-of-type,
.user-menu li:last-of-type {
  margin-right: 0;
}

.login a::before,
.account a::before,
.compare a::before,
.cart a::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  background-color: transparent;
  background-repeat: no-repeat;
  background-position: 0 0;
}

.login a::before,
.account a::before {
  top: 4px;
  width: 13px;
  height: 12px;
  background-image: url("../img/icon/ico_user.svg");
}

.compare a::before {
  top: 6px;
  left: 5px;
  width: 10px;
  height: 10px;
  background-image: url("../img/icon/ico_compare.svg");
}

.cart a::before {
  top: 4px;
  left: 3px;
  width: 12px;
  height: 12px;
  background-image: url("../img/icon/ico_cart.svg");
}

.header-navigation {
  /* padding-bottom: 162px; */
}

.drop-catalog {
  position: relative;
  padding-right: 32px;
}

.drop-submenu {
  /* content: ""; */
  position: absolute;
  top: 4px;
  right: 5px;
  width: 16px;
  height: 16px;
  background-color: transparent;
  background-image: url("../img/icon/ico_plus.svg");
  background-repeat: no-repeat;
  background-position: center;
  visibility: visible;
  opacity: 0.3;
  border: none;
}

.catalog-submenu {
  position: absolute;
  top: 40px;
  left: -60px;
  z-index: 2;
  display: flex;
  width: 1160px;
  padding-bottom: 40px;
  padding-left: 60px;
  background: linear-gradient(rgba(240, 197, 46, 0.5) 0, rgba(240, 197, 46, 0.5) 100%), white;
  /* background: white; */
}

.catalog-submenu > li:first-child {
  margin-right: 60px;
}

.catalog-submenu > li:nth-of-type(2) {
  margin-right: 75px;
}

.catalog-submenu > li:last-child {
  margin-right: 0;
}

.goodsgroup-menu a {
  vertical-align: top;
  white-space: nowrap;
}

.logistic-menu {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 0;
}

.logistic-menu li,
.contact-menu li {
  margin-right: 35px;
}

.logistic-menu li:last-of-type,
.contact-menu li:last-of-type {
  margin-right: 0;
}

/*---------------------------------*/
/*            подвал               */
/*---------------------------------*/
.site-footer {
  padding-top: 63px;
  padding-bottom: 132px;
  color: white;
  background-color: rgb(70, 70, 70);
}

.site-footer-wrapper {
  display: flex;
  justify-content: space-between;
}

.site-footer-wrapper:first-of-type {
  margin-bottom: 29px;
}

.site-footer-wrapper:nth-of-type(2) {
  margin-bottom: 62px;
}

.site-footer-wrapper:last-of-type {
  /* margin-bottom: 66px; */
}

.footer-menu-wrapper {
  display: flex;
}

.footer-menu-wrapper .user-menu {
  margin-right: 38px;
}

.site-footer .login a::before,
.site-footer .account a::before {
  background-image: url("../img/icon/ico_user_yellow.svg");
}

.site-footer .compare a::before {
  background-image: url("../img/icon/ico_compare_yellow.svg");
}

.site-footer .cart a::before {
  background-image: url("../img/icon/ico_cart_yellow.svg");
}

.shopping-menu,
.user-menu {
  display: flex;
  flex-wrap: wrap;
  padding: 0;
}

.user-menu .account {
  margin-right: 20px;
}

.user-menu .logout {
  color: rgba(0, 0, 0, 0.3);
}

.site-footer .logout {
  color: rgba(255, 255, 255, 0.3);
}

.logout a {
  padding-left: 0;
}

.address-line,
.phone-uri {
  width: 260px;
  font-weight: 300;
  font-size: 15px;
  line-height: 30px;
  font-family: "Open Sans", "Verdana", sans-serif;
}

.address-line {
  overflow-wrap: break-word;
}

.phone-uri {
  text-align: right;
}

.footer-navigation-menu {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  padding-top: 5px;
}

/* .footer-nav-menu-item {
  margin-right: 34px;
} */
.footer-navigation-menu li {
  margin-right: 34px;
}

.footer-navigation-menu li:last-child {
  margin-right: 0;
}

.site-footer-wrapper:last-of-type::before {
  content: "";
  /* position: relative; */
  /* top: 12px; */
  align-self: center;
  width: 80px;
  height: 7px;
  margin-right: auto;
  background-color: rgb(255, 198, 0);
}

.footer-social {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  /* width: 156px; */
  margin: 0;
  padding: 0;
}

.footer-social li {
  margin-right: 20px;
}

.footer-social li:last-of-type {
  margin-right: 0;
}

.social-button {
  display: inline-block;
  width: 34px;
  height: 36px;
  vertical-align: top;
  background-repeat: no-repeat;
  background-size: 32px 32px;
  background-position: 1px 2px;
  opacity: 0.3;
}

.social-button:hover {
  opacity: 0.6;
}

.social-button:focus {
  opacity: 0.6;
}

.social-button:active {
  opacity: 0.1;
}

.social-button.fb {
  background-image: url("../img/footer/facebook.svg");
}

.social-button.insta {
  background-image: url("../img/footer/instagram.svg");
}

.social-button.tw {
  background-image: url("../img/footer/twitter.svg");
}

.footer-copyright {
  margin-left: auto;
  padding-left: 53px;
}

/*---------------------------------*/
/*       Промо слайдер      */
/*---------------------------------*/
.promo-slider {
  position: relative;
  margin-top: -111px;
  margin-bottom: 106px;
}

.promo-controls {
  position: absolute;
  right: 103px;
  bottom: 147px;
  z-index: 20;
  display: flex;
  justify-content: space-between;
  width: 78px;
}

.promo-label {
  position: relative;
  display: block;
  flex-shrink: 0;
  width: 12px;
  height: 12px;
  background-color: white;
  border: 1px solid black;
  border-radius: 50%;
}

.promo-label::before {
  content: "";
  position: absolute;
  top: 2px;
  left: 2px;
  z-index: -1;
  display: block;
  width: 6px;
  height: 6px;
  background-color: white;
  border: 1px solid black;
  border-radius: 50%;
}

.promo-slider input[type="radio"] {
  /* ????????? как правильно прятать ???????  */
  /* при применении visually-hidden неактивен */
  /* position: inherit;
  margin: -3px; */
}

.promo-slide {
  position: relative;
  display: flex;
}

.promo-number {
  position: absolute;
  top: -15px;
  right: 46px;
  z-index: 3;
  font-weight: 800;
  font-size: 179.2px;
  line-height: 179.2px;
  font-family: "Gilroy", "Helvetica", sans-serif;
  color: white;
  letter-spacing: 0.01em;
}

.promo-pic-wrapper {
  width: 600px;
  height: 486px;
  padding-right: 36px;
  vertical-align: top;
  text-align: center;
}

.promo-pic-wrapper img {
  max-width: 100%;
  max-height: 100%;
  /*  IE ??????? */

  object-fit: scale-down;
}

.promo-info {
  position: relative;
  z-index: 10;
  width: 560px;
  padding-top: 79px;
}

.promo-info::before {
  content: "";
  position: absolute;
  top: 37px;
  left: 0;
  width: 100px;
  height: 7px;
  background-color: #ffffff;
}

.promo-slogan {
  position: relative;
  z-index: 10;
  margin-bottom: 20px;
  font-weight: 800;
  font-size: 47px;
  line-height: 56px;
  font-family: "Gilroy", "Helvetica", sans-serif;
  color: black;
  letter-spacing: 0.01em;
}

.promo-line {
  width: 490px;
  margin-bottom: 42px;
  font-weight: 300;
  font-size: 15px;
  line-height: 30px;
  font-family: "Open Sans", "Verdana", sans-serif;
  letter-spacing: 0.01em;
}

.promo-details {
  margin-top: 49px;
  padding: 0;
  border-collapse: collapse;
  border-spacing: 0;
}

.promo-details th {
  padding: 0;
  padding-top: 10px;
  font-weight: 300;
  font-size: 13px;
  line-height: 20px;
  font-family: "Open Sans", "Verdana", sans-serif;
  vertical-align: top;
  text-align: left;
  color: rgb(70, 70, 70);
  letter-spacing: 0.01em;
}

.promo-details td {
  padding: 0;
  font-weight: 300;
  font-size: 36px;
  line-height: 48px;
  font-family: "Gilroy", "Helvetica", sans-serif;
  vertical-align: top;
  text-align: left;
  color: black;
  letter-spacing: 0.01em;
}

.promo-details tr > td:first-child {
  width: 160px;
}

.promo-details tr > td:nth-child(2) {
  width: 140px;
}

.promo-details tr > td:nth-child(3) {
  width: 160px;
}

.promo-info .btn {
  width: 220px;
}

/* --------------------------------------------- */
/*  Стили для проверки слайдера  */
/* -------------------------------------------- */
#promo-btn-1:checked ~ .promo-controls .promo-label[for="promo-btn-1"]::before {
  z-index: 1;
}

#promo-btn-2:checked ~ .promo-controls .promo-label[for="promo-btn-2"]::before {
  z-index: 1;
}

#promo-btn-3:checked ~ .promo-controls .promo-label[for="promo-btn-3"]::before {
  z-index: 1;
}

.promo-inner {
  overflow: hidden;
  /* z-number: 2; */
}

.promo-wrapper {
  display: flex;
  width: 300%;
  transition: transform 0.8s ease;
}

#promo-btn-1:checked ~ .promo-inner .promo-wrapper {
  transform: translate(0);
}

#promo-btn-2:checked ~ .promo-inner .promo-wrapper {
  transform: translate(-1160px);
}

#promo-btn-3:checked ~ .promo-inner .promo-wrapper {
  transform: translate(-2320px);
}

/*---------------------------------*/
/*       Группы товаров      */
/*---------------------------------*/
.goodsgroups {
  margin-bottom: 81px;
}

.goodsgroups-item {
  width: 160px;
  margin-left: 40px;
}

.goodsgroups-item-line {
  /* width: 160px; */
  font-weight: 800;
  font-size: 18px;
  line-height: 24px;
  font-family: "Gilroy", "Helvetica", sans-serif;
  color: black;
  letter-spacing: 0.01em;
  word-wrap: break-word;
}

.goodsgroups-item-pic-wrapper {
  /* width: 160px; */
  height: 160px;
  margin-bottom: 33px;
  text-align: center;
  background-color: rgba(240, 197, 45, 0.5);
}

.goodsgroups-item:hover .goodsgroups-item-pic-wrapper {
  background-color: rgb(240, 197, 45);
}

.goodsgroups-item a:focus {
  outline: none;
}

.goodsgroups-item a:focus .goodsgroups-item-pic-wrapper {
  background-color: rgb(240, 197, 45);
}

.goodsgroups-item:active .goodsgroups-item-pic {
  opacity: 0.3;
}

.goodsgroups-item-pic[src$="popular-1.svg"] {
  margin-top: 52px;
}

.goodsgroups-item-pic[src$="popular-2.svg"] {
  margin-top: 41px;
  margin-left: 2px;
}

.goodsgroups-item-pic[src$="popular-3.svg"] {
  margin-top: 38px;
  margin-left: 9px;
}

.goodsgroups-item-pic[src$="popular-4.svg"] {
  margin-top: 50px;
  margin-left: 3px;
}

.goodsgroups-item-pic[src$="popular-5.svg"] {
  margin-top: 32px;
  margin-left: 6px;
}

.goodsgroups-item-pic[src$="popular-6.svg"] {
  margin-top: 49px;
  margin-left: -2px;
}

.goodsgroups-list {
  display: flex;
  flex-wrap: wrap;
  margin-left: -40px;
}

/*---------------------------------*/
/*    Слайдер сервисов    */
/*---------------------------------*/
.service-slider {
  margin-bottom: 94px;
  background-image: linear-gradient(transparent 100px, rgb(229, 229, 229) 100px);
}

.service-wrapper {
  position: relative;
  display: flex;
  padding-bottom: 69px;
}

.service-controls {
  width: 284px;
  margin-right: 116px;
  padding-top: 80px;
  padding-bottom: 47px;
  border-right: 7px solid black;
}

.service-label {
  display: block;
  width: 160px;
  margin-bottom: 24px;
  padding-left: 4px;
  cursor: pointer;
  user-select: none;
}

.service-label:active {
  width: 100%;
  padding-right: calc(100% - 164px);
  color: rgb(247, 225, 132);
  background-color: black;
  background-image: none;
}

#service-btn-1:checked ~ .service-controls .service-label[for="service-btn-1"] {
  width: 100%;
  padding-right: calc(100% - 160px);
  color: rgb(247, 225, 132);
  background-color: black;
  background-image: none;
}

#service-btn-2:checked ~ .service-controls .service-label[for="service-btn-2"] {
  width: 100%;
  padding-right: calc(100% - 160px);
  color: rgb(247, 225, 132);
  background-color: black;
  background-image: none;
}

#service-btn-3:checked ~ .service-controls .service-label[for="service-btn-3"] {
  width: 100%;
  padding-right: calc(100% - 160px);
  color: rgb(247, 225, 132);
  background-color: black;
  background-image: none;
}

/*
.service-inner {
  width: 700px;
  padding-top: 56px;
} */
/* .service-slide-wrapper {
  display: flex;
} */
.service-slide {
  display: none;
  width: 714px;
  min-height: 258px;
  padding-top: 74px;
  background-repeat: no-repeat;
}

.service-slide-title {
  margin: 0;
  /* margin-top: 16px; */
  margin-bottom: 32px;
  font-weight: 800;
  font-size: 47px;
  line-height: 48px;
  font-family: "Gilroy", "Helvetica", sans-serif;
  color: black;
  letter-spacing: 0.01em;
}

.service-info {
  width: 437px;
  font-weight: 300;
  font-size: 15px;
  line-height: 30px;
  font-family: "Open Sans", "Verdana", sans-serif;
  color: rgb(70, 70, 70);
  letter-spacing: 0.01em;
  background-repeat: no-repeat;
}

.delivery {
  background-image: url("../img/mainpage/delivery.svg");
  background-position: right 20px top 85px;
}

.warranty {
  background-image: url("../img/mainpage/warranty.svg");
  background-position: right 0 top 62px;
}

.credit {
  background-image: url("../img/mainpage/credit.svg");
  background-position: right 20px top 60px;
}

/* .service-slider input:checked ~ .service-inner .service-slide {
  order: 2;
} */
#service-btn-1:checked ~ .delivery {
  display: block;
}

#service-btn-2:checked ~ .warranty {
  display: block;
}

#service-btn-3:checked ~ .credit {
  display: block;
}

/*---------------------------------*/
/*        лого брендов         */
/*---------------------------------*/
.brends {
  margin-bottom: 97px;
}

.brends-list {
  display: flex;
  justify-content: center;
  /* width: 100%; */
  padding-bottom: 45px;
}

.brends-item {
  margin-right: 40px;
}

.brends-item:last-of-type {
  margin-right: 0;
}

.brends-item-pic {
  filter: grayscale(100%) opacity(20%);
}

.brends-item-pic:hover,
.brends-item-pic:active {
  filter: none;
}

/*---------------------------------*/
/*          Инфо и карта           */
/*---------------------------------*/
.index-columns {
  display: flex;
  /* justify-content: space-between; */
  margin-bottom: 82px;
  color: black;
  background-color: white;
}

.info {
  position: relative;
  width: 500px;
  margin-right: 100px;
}

.contacts {
  position: relative;
  width: 560px;
}

.info::before,
.contacts::before {
  content: "";
  position: absolute;
  top: -52px;
  left: 0;
  width: 80px;
  height: 7px;
  background-color: #000000;
}

.info-title,
.contacts-title {
  margin-bottom: 44px;
  margin-left: -2px;
  font-weight: 800;
  font-size: 47px;
  line-height: 48px;
  font-family: "Gilroy", "Helvetica", sans-serif;
  letter-spacing: 0.01em;
}

.info-line,
.pickup-line {
  font-weight: 300;
  font-size: 15px;
  line-height: 30px;
  font-family: "Open Sans", "Verdana", sans-serif;
  color: rgb(70, 70, 70);
}

.shipping-companies-list {
  margin-bottom: 54px;
  font-weight: 800;
  font-size: 16px;
  line-height: 40px;
  font-family: "Gilroy", "Helvetica", sans-serif;
}

.shipping-companies-list li {
  position: relative;
  padding-left: 35px;
  /* background-image: url("../img/mainpage/list-button.svg"); */
  /* background-repeat: no-repeat; */
  /* background-position: 0 50%; */
}

.shipping-companies-list li::before {
  content: "";
  position: absolute;
  top: 12px;
  left: -3px;
  width: 18px;
  height: 18px;
  background-image: url("../img/mainpage/list-button.svg");
  background-repeat: no-repeat;
  background-position: 0 50%;
  /* background-size: 100%; */
}

.info-line {
  width: 476px;
  margin-bottom: 30px;
}

.info-line:last-of-type {
  margin-bottom: 65px;
}

.pickup-line {
  width: 560px;
  margin-bottom: 38px;
}

.map-wrapper {
  margin-bottom: 66px;
}

.details,
.feedback-link {
  width: 260px;
}

/*===========================*/
/*        Каталог            */
/*===========================*/
.inner-page .site-header {
  margin-bottom: 37px;
}

.inner-page .header-menu {
  padding-bottom: 50px;
}

.main-catalog-wrapper {
  position: relative;
  background-image: linear-gradient(to right, rgb(238, 238, 238) calc(50% - 252px), transparent calc(50% - 252px));
}

.main-catalog-wrapper::before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  height: 70px;
  background: rgba(0, 0, 0, 0.08);
}

.catalog-columns {
  display: flex;
  justify-content: flex-start;
}

.catalog {
  width: 830px;
}

/*---------------------------------*/
/*       Заголовок и крошки        */
/*---------------------------------*/
.catalog-title {
  margin-bottom: 23px;
  padding-left: 80px;
  font-weight: 800;
  font-size: 47px;
  line-height: 48px;
  font-family: "Gilroy", "Helvetica", sans-serif;
  letter-spacing: 0.01em;
}

.breadcrumbs {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 47px;
  padding-left: 80px;
  font-weight: 300;
  font-size: 14px;
  line-height: 24px;
  font-family: "Open Sans", "Verdana", sans-serif;
  color: rgba(0, 0, 0, 0.3);
  letter-spacing: 0.01em;
  background-color: white;
}

.breadcrumbs li {
  position: relative;
  padding-right: 38px;
}

.breadcrumbs li:last-child {
  padding-right: 0;
}

.breadcrumbs li:hover {
  color: rgba(0, 0, 0, 0.6);
}

.breadcrumbs li:active {
  color: rgba(0, 0, 0, 0.1);
}

.breadcrumbs li::after {
  content: "";
  position: absolute;
  top: 10px;
  right: 18px;
  width: 4px;
  height: 7px;
  background-image: url("../img/catalog/nav-arrow.svg");
  background-repeat: no-repeat;
  opacity: 1;
}

.breadcrumbs li:last-child::after {
  display: none;
}

/*---------------------------------*/
/*             Фильтр              */
/*---------------------------------*/
.filters {
  width: 202px;
  margin-right: 70px;
  margin-left: 58px;
}

.filters-title {
  margin-bottom: 92px;
  padding-top: 23px;
  padding-left: 2px;
  font-weight: 800;
  font-size: 16px;
  line-height: 24px;
  font-family: "Gilroy", "Helvetica", sans-serif;
  text-transform: uppercase;
  letter-spacing: 0.2em;
}

.filters fieldset {
  position: relative;
  margin: 0;
  padding: 0;
  padding-top: 52px;
  border: none;
  border-top: 2px solid black;
}

.price-range legend,
.colors legend,
.bluetooth legend {
  position: absolute;
  top: 10px;
  font-weight: 800;
  font-size: 18px;
  line-height: 24px;
  font-family: "Gilroy", "Helvetica", sans-serif;
  letter-spacing: 0.01em;
}

.range-filter {
  margin-bottom: 33px;
}

.range-controls {
  position: relative;
  margin-left: 6px;
  padding-top: 17px;
  padding-bottom: 10px;
}

.range-controls .scale {
  width: 196px;
  height: 2px;
  background-color: rgb(219, 219, 219);
}

.range-controls .bar {
  width: 58%;
  height: 2px;
  margin-left: 0%;
  background: rgb(145, 201, 47);
}

.range-controls .toggle {
  position: absolute;
  top: 7px;
  left: 0;
  width: 20px;
  height: 20px;
  background-color: rgb(171, 171, 171);
  border: 8px solid white;
  border-radius: 50%;
  box-shadow: 0 2px 1px rgb(218, 218, 218);
  cursor: pointer;
}

.range-controls .toggle:active {
  transform: scale(1.1);
}

.range-controls .toggle-min {
  left: -10px;
}

.range-controls .toggle-max {
  left: 103px;
}

.price-controls {
  font-size: 0;
  white-space: nowrap;
}

.price-controls label {
  display: inline-block;
  font-weight: 300;
  font-size: 14px;
  line-height: 24px;
  font-family: "Gilroy", "Helvetica", sans-serif;
  color: rgba(0, 0, 0, 0.2);
  letter-spacing: 0;
  vertical-align: top;
}

.price-controls .min-price {
  /* (длина шкалы - отступы) x мин.цена%   */
  margin-left: calc((196 - 40) * (0 / 100));
  /*  кол-во разрядов в цене х 9px */
  margin-right: 9px;
}

.price-controls .max-price {
  /* (длина шкалы - отступы) x мин.цена%   */
  left: calc((196 - 40) * (58px) / 100);
  position: absolute;
}

.price-controls input {
  display: inline-block;
  margin-left: 4px;
  padding: 0;
  font: inherit;
  text-align: left;
  color: inherit;
  letter-spacing: 0;
  background: transparent;
  border: none;
  vertical-align: top;
}

.price-controls .min-price input {
  /* min-width = 9px x десятичн.разрядов в числе + отступ*/
  min-width: 15px;
  /* max-width = 9px x десятичн.разрядов в числе */
  max-width: 9px;
}

.price-controls .max-price input {
  /* min-width = 9px x десятичн.разрядов в числе */
  /* min-width: 36px; */
  /* max-width: 0; */
}


.filters .colors,
.filters .bluetooth {
  margin-bottom: 31px;
}

.colors label,
.bluetooth label {
  position: relative;
  padding-left: 40px;
  font-weight: 300;
  font-size: 14px;
  line-height: 40px;
  font-family: "Open Sans", "Verdana", sans-serif;
  vertical-align: top;
  color: black;
  letter-spacing: 0.01em;
  cursor: pointer;
  user-select: none;
}

.colors label::before {
  content: "";
  position: absolute;
  top: -2px;
  left: 0;
  width: 23px;
  height: 23px;
  background-image: url("../img/catalog/checkbox-off.svg");
}

.colors label::after {
  content: "";
  position: absolute;
  top: -2px;
  left: 0;
  display: none;
  width: 27px;
  height: 23px;
  background-image: url("../img/catalog/checkbox-on.svg");
}

.bluetooth label::before {
  content: "";
  position: absolute;
  top: -4px;
  left: 1px;
  background-position: 0 0;
  width: 25px;
  height: 25px;
  background-image: url("../img/catalog/radio-off.svg");
}

.bluetooth label::after {
  content: "";
  position: absolute;
  top: -4px;
  left: 1px;
  display: none;
  background-position: 0 0;
  width: 25px;
  height: 25px;
  background-image: url("../img/catalog/radio-on.svg");
}

.colors input[type="checkbox"]:disabled + label,
.bluetooth input[type="radio"]:disabled + label {
  opacity: 0.25;
}

.colors input[type="checkbox"]:checked:not(:disabled) + label::after,
.bluetooth input[type="radio"]:checked:not(:disabled) + label::after {
  display: block;
}

.colors input[type="checkbox"]:not(:disabled):checked + label::before,
.bluetooth input[type="radio"]:not(:disabled):checked + label::before {
  display: none;
}

.colors label:hover::before,
.colors label:hover::after,
.bluetooth label:hover::before,
.bluetooth label:hover::after {
  opacity: 0.6;
}

/* .colors label:focus::before,
.colors label:focus::after,
.bluetooth label:focus::before,
.bluetooth label:focus::after {
  opacity: 1;
  outline: 1px dotted blue;
} */
.colors label:active::before,
.colors label:active::after,
.bluetooth label:active::before,
.bluetooth label:active::after {
  opacity: 1;
}

.filters button {
  min-width: 200px;
}

/*---------------------------------*/
/*          Сортировка             */
/*---------------------------------*/
.sorter {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: flex-start;
  margin-bottom: 70px;
  padding-top: 23px;
  padding-bottom: 22px;
  padding-left: 72px;
}

.sorter-title {
  margin-right: 40px;
  font-weight: 800;
  font-size: 16px;
  line-height: 24px;
  font-family: "Gilroy", "Helvetica", sans-serif;
  text-transform: uppercase;
  letter-spacing: 0.2em;
}

.order-list {
  display: flex;
  flex-wrap: wrap;
  max-width: 520px;
  margin: 0;
  padding: 0;
  padding-top: 3px;
  list-style: none;
}

.order-item {
  padding-right: 15px;
  padding-left: 15px;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  font-family: "Open Sans", "Verdana", sans-serif;
  color: black;
  opacity: 0.3;
}

.sorter-controls {
  display: flex;
  justify-content: space-between;
  width: 40px;
  margin: 0;
  margin-left: auto;
  padding: 0;
  list-style: none;
  font-size: 0;
}

.sorter-arrow {
  display: block;
  padding-top: 3px;
  font-size: 14px;
  line-height: 18px;
  vertical-align: top;
  color: black;
  opacity: 0.3;
}

.order-item.current,
.sorter-arrow.current {
  opacity: 1;
}

.order-item:hover,
.sorter-arrow:hover {
  opacity: 0.6;
}

.order-item:active,
.sorter-arrow:active {
  opacity: 1;
}

/*---------------------------------*/
/*     Карточка товара      */
/*---------------------------------*/
.catalog-list {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: -11px;
  padding-left: 70px;
}

.catalog-item {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-content: flex-start;
  align-items: center;
  width: 360px;
  margin-right: 40px;
  margin-bottom: 46px;
}

.catalog-item:nth-child(even) {
  margin-right: 0;
}

.item-pic-wrapper {
  width: 100%;
  margin-bottom: 32px;
  font-size: 0;
}

.take-item {
  position: absolute;
  top: 0;
  display: none;
  width: 360px;
  height: 380px;
  padding-top: 170px;
  text-align: center;
  background-color: rgba(238, 238, 238, 0.7);
  cursor: pointer;
}

.item-pic-wrapper:hover .take-item {
  display: block;
}

.take-item .buy-item {
  display: block;
  min-width: 200px;
  margin: 0 auto;
  margin-bottom: 16px;
}

.take-item .compare-item {
  position: relative;
  display: block;
  margin: 0 auto;
  padding: 0;
  font-weight: 300;
  font-size: 13px;
  line-height: 36px;
  font-family: "Open Sans", "Verdana", sans-serif;
  text-align: center;
  color: black;
  letter-spacing: 0.01em;
  background-color: transparent;
  border: none;
  outline: none;
  opacity: 0.5;
}

.take-item .compare-item:hover,
.take-item .compare-item:focus {
  opacity: 1;
}

.take-item .compare-item:active {
  opacity: 0.2;
}

.catalog-item .item-name {
  width: 260px;
  margin: 0;
  font-weight: 800;
  font-size: 18px;
  line-height: 24px;
  font-family: "Gilroy", "Helvetica", sans-serif;
  letter-spacing: 0.01em;
}

.catalog-item .item-price {
  align-self: flex-start;
  width: 100px;
  margin: 0;
  font-weight: 300;
  font-size: 16px;
  line-height: 24px;
  font-family: "Gilroy", "Helvetica", sans-serif;
  text-align: right;
  color: rgb(70, 70, 70);
  letter-spacing: 0.01em;
}

.catalog-item::before {
  content: "New";
  position: absolute;
  top: 29px;
  right: 26px;
  display: none;
  width: 61px;
  height: 61px;
  padding-top: 16px;
  font-size: 14px;
  line-height: 24px;
  font-family: "Gilroy Bold", "Helvetica", sans-serif;
  text-align: center;
  color: #000000;
  text-transform: uppercase;
  letter-spacing: 0.05em;
  border: 2px solid #000000;
  border-radius: 50%;
  opacity: 0.2;
}

.new::before {
  display: block;
}

/*---------------------------------*/
/*           Пагинатор           */
/*---------------------------------*/
.paginator {
  display: flex;
  justify-content: space-between;
  margin-bottom: 77px;
  margin-left: 70px;
  background-color: rgb(235, 235, 235);
}

.paginator-prev,
.paginator-next,
.paginator-item {
  font-weight: 800;
  font-size: 16px;
  line-height: 24px;
  font-family: "Gilroy", "Helvetica", sans-serif;
  text-transform: uppercase;
  letter-spacing: 0.2em;
}

.paginator-prev,
.paginator-next {
  padding-top: 23px;
  padding-right: 30px;
  padding-bottom: 23px;
  padding-left: 30px;
  color: black;
}

.paginator-prev {
  margin-right: 10px;
}

.paginator-prev:hover,
.paginator-next:hover {
  background-color: rgb(217, 217, 217);
}

.paginator-prev:active,
.paginator-next:active {
  color: rgba(0, 0, 0, 0.3);
}

.paginator-list {
  display: flex;
  flex-wrap: wrap;
  padding-top: 23px;
  padding-right: 28px;
  padding-bottom: 23px;
  padding-left: 28px;
}

.paginator-item {
  align-items: center;
  margin-right: 28px;
  color: rgba(0, 0, 0, 0.3);
}

.paginator-item.current {
  color: black;
}

.paginator-item:nth-of-type(11),
.paginator-item:last-of-type {
  margin-right: 0;
}

/*===========================*/
/*      Модальные окна       */
/*===========================*/
.modal {
  position: fixed;
  top: 50%;
  left: 50%;
  display: none;
  box-shadow: 0 10px 20px 0 rgba(0, 0, 0, 0.2);
  transform: translate(-50%, -50%);
}

.modal-show {
  display: block;
}

.modal-close {
  position: absolute;
  top: 22px;
  right: 22px;
  width: 55px;
  height: 55px;
  margin: 0;
  padding: 0;
  background: none;
  background-image: url("../img/icon/ico_modal-close.svg");
  background-repeat: no-repeat;
  border: none;
  outline: none;
  cursor: pointer;
  opacity: 0.5;
}

.modal-close:hover,
.modal-close:focus {
  opacity: 1;
}

.modal-close:active {
  opacity: 0.3;
}

/*---------------------------------*/
/*         Окно отзыва         */
/*---------------------------------*/
.feedback {
  z-index: 100;
  width: 960px;
  padding: 0 100px;
  padding-top: 94px;
  padding-bottom: 78px;
  background-color: white;
}

.feedback label {
  display: block;
  margin-bottom: 10px;
  font-weight: 800;
  font-size: 18px;
  line-height: 24px;
  font-family: "Gilroy", "Helvetica", sans-serif;
}

.feedback *::placeholder {
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  font-family: "Open Sans", "Verdana", sans-serif;
  color: rgba(0, 0, 0, 0.4);
}

.two-cols-wrapper {
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
}

.feedback input[type="text"],
.feedback input[type="email"],
.feedback textarea {
  padding: 16px 20px;
  font: inherit;
  font-size: 14px;
  line-height: 18px;
  background-color: rgba(229, 229, 229, 0.5);
  border: none;
}

.feedback input[type="text"],
.feedback input[type="email"] {
  width: 360px;
}

.feedback textarea {
  width: 100%;
  resize: none;
}

.feedback input[type="text"]:hover,
.feedback input[type="email"]:hover,
.feedback textarea:hover {
  background-color: rgba(229, 229, 229, 0.8);
}

.feedback input[type="text"]:focus,
.feedback input[type="email"]:focus,
.feedback textarea:focus,
.feedback input[type="text"]:active,
.feedback input[type="email"]:active,
.feedback textarea:active {
  color: black;
  background-color: transparent;
  outline: 3px solid rgba(240, 197, 46, 0.5);
  outline-offset: -3px;
}

.feedback input[type="text"]:invalid,
.feedback input[type="email"]:invalid,
.feedback textarea:invalid {
  background-color: rgba(237, 181, 181, 0.5);
  outline: none;
}

.feedback-name label,
.feedback-email label {
  margin-bottom: 6px;
}

.feedback-name,
.feedback-email {
  margin-bottom: 34px;
}

.feedback-text label {
  margin-bottom: 6px;
}

.feedback-text {
  margin-bottom: 36px;
}

.feedback-button {
  width: 200px;
}

/*---------------------------------*/
/*          Окно карты          */
/*---------------------------------*/
.map {
  z-index: 100;
  width: 960px;
  background-color: white;
}

.map figure {
  margin: 0;
  padding: 0;
  line-height: 0;
}

/*===========================*/
/* ------------------------------------ */
/*  Стили для пропуска навигации        */
/*  www.w3.org/TR/WCAG20-TECHS/G1.html  */
/* ------------------------------------ */
.goto-main {
  position: absolute;
  top: auto;
  left: -999px;
  z-index: -999;
  width: 1px;
  height: 1px;
  overflow: hidden;
}

.goto-main:focus {
  top: 20px;
  left: auto;
  z-index: 999;
  width: auto;
  height: auto;
  margin: auto;
  padding: 10px;
  overflow: auto;
  font-size: inherit;
  text-align: center;
  color: black;
  background-color: rgb(247, 225, 132);
  outline: 2px solid black;
}
